@import '~@angular/material/theming';

@mixin app-content-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mat-sidenav {
        @include mat-elevation(4);
        .mat-nav-list {
            .mat-list-item {
                color: mat-color($foreground, icon);
                .mat-list-text > * {
                    font-weight: 500;
                }
                &.active {
                    color: mat-color($primary, 700);
                }
            }
        }
        .mat-button {
            background-color: mat-color($background, background);
            box-shadow: inset 0px 1px 0px mat-color($foreground, divider);
        }
    }

    .nav-group-root {
        background-color: mat-color($background, background);
        box-shadow: inset 0px -1px 0px mat-color($foreground, divider);
    }

    .nav-list-item-settings {
        box-shadow: inset 1px 0px 0px mat-color($foreground, divider);
    }
}