<md-sidenav-container class="app-sidenav-container" [class.app-sidenav-collapsed]="navigationCollapsed">
    <md-sidenav mode="{{navigationMode}}" opened="{{navigationOpened}}" class="app-sidenav" fxLayout="column" fxFlexAlign="stretch">
        <div class="nav-container" fxFlex>
            <div class="nav-group nav-group-root">
                <md-nav-list fxLayout="row" fxFlexAlign="stretch" fxLayoutWrap>
                    <md-list-item class="nav-list-item-home" routerLink="/home" routerLinkActive="active" fxFlex>
                        <md-icon md-list-icon>home</md-icon>
                        <span md-line>Home</span>
                    </md-list-item>
                    <md-list-item class="nav-list-item-settings" (click)="settings.openMenu()">
                        <settings-menu #settings></settings-menu>
                    </md-list-item>
                </md-nav-list>
            </div>
            <div class="nav-group">
                <md-nav-list>
                    <md-list-item class="nav-list-item-people" routerLink="/people" routerLinkActive="active">
                        <md-icon md-list-icon>people</md-icon>
                        <span md-line>People</span>
                    </md-list-item>
                    <md-list-item class="nav-list-item-documents" routerLink="/documents" routerLinkActive="active">
                        <md-icon md-list-icon>folder</md-icon>
                        <span md-line>Documents</span>
                    </md-list-item>
                </md-nav-list>
            </div>
        </div>
        <button md-button [hidden]="!navigationCanBeCollapsed" class="sidenav-collapse-button" (click)="toggleNavigationCollapsedState()">
            <md-icon>chevron_left</md-icon>
        </button>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>