$app-sidenav-width: 256px;
$app-sidenav-collapsed-width: 64px;

.mat-sidenav-container {
    &.app-sidenav-collapsed {
        .mat-sidenav {
            width: $app-sidenav-collapsed-width;
            .sidenav-collapse-button {
                .mat-icon {
                    transform: rotate(180deg);
                }
            }
        }
        .mat-sidenav-content {
            margin-left: $app-sidenav-collapsed-width !important;
        }
    }
}
.mat-sidenav {
    width: $app-sidenav-width;
    overflow: hidden;
    min-width: $app-sidenav-collapsed-width;
    &.mat-sidenav-side {
        transition-property: transform, width;
    }
}

.nav-container {
    overflow-y: auto;
    overflow-x: hidden;
}
.nav-group-root {
    padding: 10px 0;
    .mat-nav-list {
        position: relative;
        padding-top: 0;
    }
}

.mat-list-item {
    position: relative;
}
.nav-list-item-home {
    .mat-list-item-content {
        padding-right: 8px !important;
    }
}
.nav-list-item-settings {
    .mat-icon {
        transform: null;
        transition: transform .15s ease-in;
    }
    &:after {
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'play_arrow';
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 36px;
        margin-top: -12px;
        transform: translateX(-6px) rotate(-45deg);
        transition: transform .15s ease-in, opacity .075s ease;
    }
    &:hover {
        .mat-icon {
            transform: translateX(-6px) rotate(-45deg);
        }
        &:after {
            opacity: 1;
            transform:  translateX(0) rotate(0deg);
        }
    }
}
.sidenav-collapse-button {
    text-align: right;
    min-width: $app-sidenav-collapsed-width;
    .mat-icon {
        transform: none;
        transition: transform .3s ease;
    }
}