@import '../../../../variables';

.app-sidenav-container {
    width: 100%;
    height: 100%;
}
.app-sidenav-collapsed {
    .mat-sidenav {
        width: $app-sidenav-collapsed-width;
        .sidenav-collapse-button {
            .mat-icon {
                transform: rotate(180deg);
            }
        }
    }
}
.app-sidenav {
    width: $app-sidenav-width;
    min-width: $app-sidenav-collapsed-width;
    overflow: hidden;
    &.mat-sidenav-side {
        transition-property: transform, width;
    }
}
.nav-container {
    overflow-y: auto;
    overflow-x: hidden;
}
.nav-group-root {
    padding: 10px 0;
    .mat-nav-list {
        position: relative;
        padding-top: 0;
    }
}
.mat-list-item {
    position: relative;
}
.nav-list-item-home {
    .mat-list-item-content {
        padding-right: 8px !important;
    }
}
.sidenav-collapse-button {
    text-align: right;
    min-width: $app-sidenav-collapsed-width;
    .mat-icon {
        transform: none;
        transition: transform .3s ease;
    }
}