<md-sidenav-container class="app-content-container">
    <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
        <md-nav-list class="sidenav-list">
            <md-list-item class="sidenav-list-item" routerLinkActive="active">
                <md-icon md-list-icon>home</md-icon>
                <a md-line routerLink="/home" class="list-item">Home</a>
            </md-list-item>
            <md-list-item class="sidenav-list-item" routerLinkActive="active">
                <md-icon md-list-icon>people</md-icon>
                <a md-line routerLink="/people" class="list-item">People</a>
            </md-list-item>
            <md-list-item class="sidenav-list-item" routerLinkActive="active">
                <md-icon md-list-icon>folder</md-icon>
                <a md-line routerLink="/documents" class="list-item">Documents</a>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>